<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Stundenplan erstellen</title>
</head>
<body>
<nav class="header">
    <ul class="nav">
        <li class="nav-el">
            <a href="#" class="link">Home</a>
        </li>
        <li class="nav-el">
            <a href="overview" class="link">Übersicht</a>
        </li>
        <li class="nav-el">
            <a href="create" class="link current">Stundenplan erstellen</a>
        </li>
        <li class="nav-el">
            <a href="#" class="link">Stundenplan exportieren</a>
        </li>
    </ul>
    <ul class="user-nav">
        <li class="nav-el">
            Angemeldet als<a href="#" class="link user"> Benutzer1</a>
        </li>
        <li class="nav-el"><a href="#" class="link emph">Abmelden</a></li>
    </ul>
</nav>
<div class="container">
    <div class="main"></div>
</div>
</body>
</html>
