<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>Übersicht</title>
</head>
<body>
<nav class="header">
    <ul class="nav">
        <li class="nav-el">
            <a href="#" class="link">Home</a>
        </li>
        <li class="nav-el">
            <a href="overview" class="link current">Übersicht</a>
        </li>
        <li class="nav-el">
            <a href="#" class="link">Stundenplan erstellen</a>
        </li>
        <li class="nav-el">
            <a href="#" class="link">Stundenplan exportieren</a>
        </li>
    </ul>
    <ul class="user-nav">
        <li class="nav-el">
            Angemeldet als<a href="#" class="link user"> Benutzer1</a>
        </li>
        <li class="nav-el"><a href="#" class="link emph">Abmelden</a></li>
    </ul>
</nav>
<div class="container">
    <div class="menu">
        <h1>Stundenplan Übersicht</h1>
        <a href="#" class="button">Stundenpläne anzeigen</a>
        <a href="#" class="button">Stundenplan erstellen</a>
        <a href="modules" class="button">Module/ Kurse</a>
        <a href="courses" class="button">Studiengänge</a>
    </div>
    <div class="main"></div>
</div>
</body>
</html>